{% extends "layout.html.twig" %} {% block title %} {{ title }} {% endblock %} {% block content %}
<h2 class="text-center" style="margin-bottom: 50px">Bienvenue {{ app.user.civility ~ " " ~ app.user.name }} sur le portail d'administration</h2>
{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}
<div class="row" style="margin-bottom: 30px">
    <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
        <ul class="nav nav-tabs nav-justified" id="actionsAdmin">
            <li><a href="#commodities" data-toggle="tab">Les produits</a></li>
            <li><a href="#comments" data-toggle="tab">Les commandes</a></li>
            <li><a href="#users" data-toggle="tab">Les comptes utilisateurs</a></li>
        </ul>
    </div>
</div>
<div class="tab-content" style="margin-bottom: 20px">
    <div class="tab-pane fade in active adminTable" id="commodities">
        {% if commodities %}
        <div class="table-responsive">
            <table id="tableProducts" class="table table-striped table-condensed table-hover" style="text-align:center; border: 1px solid #669900">
                <thead>
                    <tr style="font-weight: bold; background-color: #669900; color:white">
                        <th style="text-align: center">Type</th>
                        <th style="text-align: center">Nom</th>
                        <th style="text-align: center">Description</th>
                        <!--    <th>Image</th>  -->
                        <th style="text-align: center">Prix</th>
                        <th style="text-align: center">Action</th>
                    </tr>
                </thead>

                {% for commodity in commodities %}
                <tr>
                    <td>{{ commodity.type }}</td>
                    <td>{{ commodity.title }}</td>
                    <td>{{ commodity.description | truncate(30) }}</td>
                    <!--   <td>{{ commodity.picture|raw }}</td> -->
                    <td>{{ commodity.price }}</td>
                    <td>
                        <a href="{{ path('admin_commodity_edit', { 'id': commodity.id }) }}" title="Modifier"><i class="fas fa-edit" style="margin-right:5px; color:#669900"></i></a>
                        <a title="Supprimer" data-toggle="modal" data-target="#confirmDeletion{{ commodity.id }}"><i class="fas fa-eraser" style="color:#669900"></i></a>
                        <div class="modal fade" id="confirmDeletion{{ commodity.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                                    </div>
                                    <div class="modal-body">
                                        Confirmez-vous la suppression de ce produit ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
                                        <a href="{{ path('admin_commodity_delete', {'id': commodity.id }) }}"><button class="btn btn-danger" >Oui</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <div class="alert alert-warning">Pas de produit trouvé.</div>
        {% endif %}
    </div>
    <div class="tab-pane fade adminTable" id="orders">


    </div>
    <div class="tab-pane fade adminTable" id="users">


    </div>
</div>
<div style="text-align: center; margin-bottom: 20px"> <a href="{{ path('admin_commodity_add') }}" title="Ajouter"><button class="btn btn-default"><i  class="fas fa-plus" style="margin-right:5px; color:white"></i> Ajouter</button></a></div>

{% endblock %}
