{% extends 'layout.html.twig' %} {% block title %}{{ title }}{% endblock %} {% block content %}
<h2 class="text-center">{{ block('title') }}</h2>
{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success" style="text-align: center">
    {{ flashMessage }}
</div>
{% endfor %} {% for flashMessage in app.session.flashbag.get('warning') %}
<div class="alert alert-warning" style="text-align: center">
    {{ flashMessage }}
</div>
{% endfor %} {% if form_errors(userForm.password.first) %}
<div class="alert alert-danger" style="text-align: center">
    {{ form_errors(userForm.password.first) }}
</div>
{% endif %}

<div>
    {{ form_start(userForm, { 'attr': {'class': 'form-horizontal well'} }) }}
    <div class="form-group">
        {{ form_label(userForm.name, null, { 'label': 'Votre nom', 'label_attr': { 'class': 'col-sm-5 control-label' }}) }}
        <div class="col-sm-4">
            {{ form_errors(userForm.name) }} {{ form_widget(userForm.name, { 'attr': { 'class': 'form-control' }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(userForm.firstname, null, { 'label': 'Votre prénom', 'label_attr': { 'class': 'col-sm-5 control-label' }}) }}
        <div class="col-sm-4">
            {{ form_errors(userForm.firstname) }} {{ form_widget(userForm.firstname, { 'attr': { 'class': 'form-control' }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(userForm.civility, null, { 'label': 'Civilité', 'label_attr': { 'class': 'col-sm-5 control-label' }}) }}
        <div class="col-sm-2">
            {{ form_errors(userForm.civility) }} {{ form_widget(userForm.civility, { 'attr': { 'class': 'form-control' }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(userForm.username, null, { 'label': 'Votre login', 'label_attr': { 'class': 'col-sm-5 control-label' }}) }}
        <div class="col-sm-4">
            {{ form_errors(userForm.username) }} {{ form_widget(userForm.username, { 'attr': { 'class': 'form-control' }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(userForm.password.first, null, { 'label': 'Mot de passe', 'label_attr': { 'class': 'col-sm-5 control-label' }}) }}
        <div class="col-sm-4">
            {{ form_widget(userForm.password.first, { 'attr': { 'class': 'form-control' }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(userForm.password.second, null, { 'label': 'Confirmer le mot de passe', 'label_attr': { 'class': 'col-sm-5 control-label' }}) }}
        <div class="col-sm-4">
            {{ form_widget(userForm.password.second, { 'attr': { 'class': 'form-control' }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(userForm.email, null, { 'label': 'Votre email', 'label_attr': { 'class': 'col-sm-5 control-label' }}) }}
        <div class="col-sm-4">
            {{ form_errors(userForm.email) }} {{ form_widget(userForm.email, { 'attr': { 'class': 'form-control' }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(userForm.phonenumber, null, { 'label': 'N° de téléphone', 'label_attr': { 'class': 'col-sm-5 control-label' }}) }}
        <div class="col-sm-4">
            {{ form_errors(userForm.phonenumber) }} {{ form_widget(userForm.phonenumber, { 'attr': { 'class': 'form-control' }}) }}
        </div>
    </div>
    <div class="form-group" style="display:none">
        <div class="col-sm-4">
            {{ form_errors(userForm.role) }} {{ form_widget(userForm.role, { 'attr': { 'class': 'form-control', 'value': 'ROLE_ADMIN' }}) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-5 col-sm-3">
            <input type="submit" class="btn btn-default" value="Valider" />
        </div>
    </div>
    {{ form_end(userForm) }}
</div>
{% endblock %}
