{% extends "layout.html.twig" %} {% block title %} {{ title }} {% endblock %} {% block content %}

<p id="loyalty_program"><a href="#info" data-toggle="modal">Programme de fidélité</a>
    <div class="modal fade" id="info" role="dialog" aria-labelledby="modalTitre" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 id="modalTitre" class="modal-title">Plus d'informations sur le programme de fidélité</h4>
            </div>
            <div class="modal-body">
                <blockquote>
                    Toutes les 3 commandes, vous bénéficiez d'une remise de 10% sur le total de votre commande.
                    <hr />
                    <small class="pull-right">L'équipe ClickPizza</small></blockquote>
            </div>
        </div>
    </div>
</p>
<div id="title_message">
    <h1 id="clickpizza"><strong>ClickPizza</strong></h1><span id="slogan"> c'est un click pour commander <i class="fas fa-info-circle" data-toggle="tooltip" style="color: #669900" title="Connexion à l'espace client obligatoire pour pouvoir commander en ligne"></i> et une commande prête à être récupérée en mois de 30 minutes</span>
</div>
<hr />

<section class="row">
    <aside id="menu_aside" class="col-lg-2">
        <img id="menu_map" src="../web/images/menu_carte.png" alt="carte des menus" title="la carte" style="margin: 10px 0" />
        <ul class="nav navbar-nav" id="list_menus">
            <li><a href="{{ path('home') }}">Nos pizzas</a></li>
            <li><a href="{{ path('salad') }}">Nos salades</a></li>
            <li><a href="{{ path('drink') }}">Nos boissons</a></li>
            <li><a href="">Nos desserts</a></li>
        </ul>
    </aside>

    {% for commodity in commodities %}

    <article class="col-lg-6">
        <div class="panel" style="border-color: #669900">
            <table class="table tabl-striped table-condensed">
                <div class="panel-heading" style="background-color: #669900">
                    <h2 class="panel-title" style="color:white; font-weight: bold">{{ commodity.title }}</h2>
                </div>
                <p>Prix : {{ commodity.price}} €</p>
                <thead>
                    <tr>
                        <th>{{ commodity.picture|raw }}</th>
                        <th>{{ commodity.description }}</th>
                    </tr>
                </thead>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <button class="btn btn-default">Ajouter au panier</button> {% endif %}
            </table>
                            
        </div>
    </article>
    {% endfor %}


    <aside id="googlemap">
        <h3>Nous localiser</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.2117274832713!2d2.3542735152310645!3d48.87324017928899!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e12648ef31b%3A0x4852dc906b621240!2sBoulevard+de+Strasbourg%2C+75010+Paris!5e0!3m2!1sfr!2sfr!4v1528364621805" width="350" height="262" frameborder="0" style="border: 10px double #669900" allowfullscreen></iframe>
        <h3>Nous contacter</h3>
        <p><i class="fas fa-phone"></i> : 01-02-03-04-05<br />
            <p><i class="fas fa-at"></i> email : clickpizza@yahoo.fr</p>
    </aside>

</section>

</div>
{% endblock %}
