{% extends "layout.html.twig" %} {% block title %} {{ title }} {% endblock %} {% block content %}
    
{% for flashMessage in app.session.flashbag.get('warning') %}
<div id="messageSearchOrder" class="alert alert-warning" style="text-align: center">
    {{ flashMessage }}
</div>
{% endfor %}

<div id="search-form" style="margin-bottom: -80px; display:none">
     {{ form_start(formSearchOrder, { 'attr': {'class': 'form-horizontal well'} }) }}
    <div class="form-group">
        {{ form_label(formSearchOrder.status, null, { 'label': 'Statut :', 'label_attr': { 'class': 'col-sm-5 control-label' }}) }}
        <div class="col-sm-3">
            {{ form_errors(formSearchOrder.status) }} {{ form_widget(formSearchOrder.status, { 'attr': { 'class': 'form-control' }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(formSearchOrder.id, null, { 'label': 'N° de commande', 'label_attr': { 'class': 'col-sm-5 control-label' }}) }}
        <div class="col-sm-3">
            {{ form_errors(formSearchOrder.id) }} {{ form_widget(formSearchOrder.id, { 'attr': { 'class': 'form-control', 'min': 0 }}) }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-5 col-sm-3">
            <input type="submit" class="btn btn-default" value="Rechercher" id="search-order-btn" />
        </div>
    </div>
   {{ form_end(formSearchOrder) }}
</div>
 
<div id="filter" style="float: right"><i class="fas fa-filter fa-2x" title="Filtrer la recherche" style="color: #669900"></i></div>    
<div class="table-responsive">
    <table id="tableProducts" class="table table-striped table-condensed table-hover" style="text-align:center; border: 1px solid #669900">
        {% if orders %}
        <thead>
            <tr style="font-weight: bold; background-color: #669900; color:white">
                <th style="text-align: center">Commande</th>
                <th class="order-name-th-table" style="text-align: center">Nom du client</th>
                <th style="text-align: center">Statut</th>
                <th class="order-date-th-table" style="text-align: center">Date</th>
                <th style="text-align: center">Action</th>
            </tr>
        </thead>
        <h2 style="text-align: center">Les commandes</h2>
        <hr style="margin-bottom: 40px" />
        
        {% for order in orders %}
        <tr>
            <td>N°{{ order.id }}</td>
            <td class="order-name-td-table">{{ order.user.civility }} {{ order.user.name }}</td>
            <td>{{ order.status }}</td>
            <td class="order-date-td-table">Le {{ order.orderDate | date('d/m/Y') }} à {{ order.orderDate | date('H\\hi') }}</td>
            <td><a title="Détail de la commande" data-toggle="modal" data-target="#orderDetail{{ order.id }}"><i class="fas fa-search-plus" style="color:#669900"></i></a>
                <div class="modal fade" id="orderDetail{{ order.id }}" tabindex="-1" role="dialog" aria-labelledby="detailOrderModal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close modal-close" data-dismiss="modal" aria-hidden="true" title="Fermer la fenêtre">&times;</button>
                                <h4 class="modal-title" id="detailOrderModal">Détail de la commande {{ order.id }}</h4>
                            </div>
                            <div><p style="font-weight: bold">Commande {{ order.status|lower }}</p>Commande effectuée le {{ order.orderDate | date('d/m/Y') }} à {{ order.orderDate | date('H\\hi') }}<br />Nom du client : {{ order.user.firstname }} {{ order.user.name }} <i class="fas fa-info-circle" data-toggle="tooltip" style="color: #669900" title="Tel : {{ order.user.phoneNumber }} {{ '&#013' }}"></i><br />Montant de la commande : {{ order.price }} €</div>
                            {% for orderCommodity in ordersCommodities %}{% if order.id == orderCommodity.order.id %} 
                            <div class="modal-body">
                                <ul class="nav navbar-nav">
                                    <li style="text-align: left; margin: 0 0 0 10px">
                                        <span class="badge">{{ orderCommodity.quantity }}</span> {{ orderCommodity.commodity.title }}</li>
                                </ul>
                            </div> {% endif %}{% endfor %}
                            <div class="modal-footer">
                                {% if order.status == "En cours" %}                           
                                    <button type="button" class="btn btn-default validate-link" title="Valider la commande" data-target="#confirmValidation{{ order.id }}">Valider</button>
                                    <div hidden class="confirm-validation" id="confirmValidation{{ order.id }}" tabindex="-1" role="dialog">
                                        <div>             
                                            <div style="margin-bottom: 10px">
                                                <hr />Confirmez-vous le paiement de cette commande ?
                                            </div>
                                            <div>
                                                <a href="{{ path('admin_order_validate_update', {'id': order.id }) }}"><button class="btn btn-default" >Oui</button></a>
                                                <button type="button" class="btn btn-danger not-confirm">Non</button>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-danger cancel-link" title="Annuler la commande" data-target="#confirmCancellation{{ order.id }}">Annuler</button>
                                    <div hidden class="confirm-cancellation" id="confirmCancellation{{ order.id }}" tabindex="-1" role="dialog">
                                        <div>
                                            <div style="margin-bottom: 10px">
                                                <hr />Confirmez-vous l'annulation de cette commande ?
                                            </div>
                                            <div>
                                                <a href="{{ path('admin_order_cancel_update', {'idOrder': order.id, 'idUser': order.user.id }) }}"><button class="btn btn-default" >Oui</button></a>
                                                <button type="button" class="btn btn-danger not-confirm">Non</button>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-info btn-modal-close" data-dismiss="modal">Fermer</button>
                                {% else %}
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}{% else %}
            <div class="alert alert-warning" style="text-align: center">Il n' y a pas de commande enregistrée.</div>
        {% endif %}
    </table>
</div>

<div class="paging">
    <div class="paging-order">
        {% if numberOfPages>1 %}{% if currentPage == 1 %}{% else %}
            <a href="{{ path ('admin_order_page',{ 'currentPage': 1, 'status': status }) }}"><i class="fas fa-angle-double-left"></i></a>
            <a href="{{ path ('admin_order_page',{'currentPage': currentPage-1, 'status': status}) }}"><i class="fas fa-angle-left"></i></a>{% endif %}
            {% for p in range(max(currentPage-3, 1), min(currentPage+3, numberOfPages)) %}
                <a {% if p == currentPage %} class="current-page" {% endif %} href="{{ path ('admin_order_page',{ 'currentPage': p, 'status': status}) }}"> {{ p }}</a>
            {% endfor %}
            {% if currentPage < numberOfPages %}
                <a href="{{ path ('admin_order_page',{'currentPage': currentPage+1, 'status': status}) }}"><i class="fas fa-angle-right"></i></a>
                <a href="{{ path ('admin_order_page',{'currentPage': numberOfPages, 'status': status}) }}"><i class="fas fa-angle-double-right"></i></a>
            {% endif %}
        {% endif %} 
    </div>
</div>
<div class="paging-small-screen">
    <div class="paging-order">
        {% if numberOfPages>1 %}{% if currentPage == 1 %}{% else %}
            <a href="{{ path ('admin_order_page',{ 'currentPage': 1, 'status': status}) }}"><i class="fas fa-angle-double-left"></i></a>{% endif %}
            {% for p in range(max(currentPage-1, 1), min(currentPage+1, numberOfPages)) %}
                <a {% if p == currentPage %} class="current-page" {% endif %} href="{{ path ('admin_order_page',{ 'currentPage': p, 'status': status}) }}"> {{ p }}</a>
            {% endfor %}
            {% if currentPage < numberOfPages %}
                <a href="{{ path ('admin_order_page',{'currentPage': numberOfPages, 'status': status}) }}"><i class="fas fa-angle-double-right"></i></a>
            {% endif %}
        {% endif %} 
    </div>
</div>

{% endblock %}
