{% extends "layout.html.twig" %} {% block title %} {{ title }} {% endblock %} {% block content %}
<div style="display: flex; justify-content: center">
    <div style="border: 10px double #669900; padding: 10px">
        <h2>Mes informations personnelles</h2>
        <ul class="nav nav-navbar">
            <li><span style="font-weight: bold">Nom :</span> {{ app.user.name }}</li>
            <li><span style="font-weight: bold">Prénom :</span> {{ app.user.firstname }}</li>
            <li><span style="font-weight: bold">Pseudo :</span> {{ app.user.username }}</li>
            <li><span style="font-weight: bold">@ mail :</span> {{ app.user.email }}</li>
            <li><span style="font-weight: bold">N° tel :</span> {{ app.user.phoneNumber }}</li>
            {% if app.user.orderNumber > 0 %}
            <li><span style="font-weight: bold">Nombre de commande chez ClickPizza :</span> {{ app.user.orderNumber }}</li>
            {% else %}<li><span style="font-weight: bold">Nombre de commande chez ClickPizza :</span> 0</li>{% endif %} 
        </ul>
        <div style="text-align: center; margin-top: 15px">
            <a href="{{ path('edit_account', {'id': app.user.id }) }}"><button style="margin: 10px" class="btn btn-default">Modifier vos coordonnées</button></a>
            <a href="{{ path('change_pwd', {'id': app.user.id }) }}"><button style="margin: 10px" class="btn btn-default">Changer de mot de passe</button></a>
        </div>
    </div>      
</div>
{% endblock %}